body{
   

    font-family:  sans-serif;
    margin: 0 auto;
    max-width: 1200px;

}

h2 {
    color: black;
    font-size: 1.2rem;
    margin: 10px;
  }

h1 {
    color: rgb(250, 250, 250);
    background-color: #ad86c2;
    text-align: center; /*para que se ajuste a la posición central*/
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    border-radius: 8px;
    display: inline-block; 
    
  }


  
textarea{
    margin-bottom: 20px;
    
    width: 100%;
   
}

label{
    margin: 10px;
    align-items: center;
    display: block;
    text-align: center;
}


input{
  
    width: 100%;
    margin-bottom: 20px;
   
 

}


form {
    margin: auto;
    max-width: 650px;
    padding: 10px;
  }


 #miBoton{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #56a7bb;
    width: 100%;
    padding: 1rem;
    font-size: 1.4;
    text-transform: uppercase;
 
    color: white; 
    margin-top: 15px ; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 

}








.enlaces p:last-child{
   
   
    color: red;
   
}

div {
    text-align: center;
    margin: 10px;
    
    padding: 1rem;
    transition: transform 0.2s ease;
   
  }

 
  
  div:hover {
    transform: translateY(-5px); /* Mueve el div hacia arriba al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra sutil */
  }


div.grid{
   
    
    display: grid;
    grid-template-columns: 1fr;
  
  
  
    padding: 0;

  
   
}

p{
    font-style:normal;
   
}

a.remove{
    color: red;
}

span{
 
    color:rgb(58, 207, 220);
  
    padding: 4px 8px ;
    font-weight: 'bold';
    font-size: 1.2em;

}


button{
   margin: 2px;
}

p[href="fechas"]{
    color: rgba(128, 128, 128, 0.7); 
}

form{
    max-width: 650px;
  padding: 0;
  margin: auto; /*para que se ajuste a la pantalla*/
}

a{
    color:#6667AB;
    text-transform: uppercase;
    font-size: 0.8rem;
}


@keyframes move {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.8);
    }
    100% {
      transform: scale(1);
    }
  }

@media screen and (min-width: 576px) {
    div.grid {
        grid-template-columns: 1fr 1fr;
       
}

@media screen and (min-width: 768px) {
    div.grid {
        grid-template-columns: 1fr 1fr 1fr;
      
    }
}

@media screen and (min-width: 992px) {
    div.grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
}


@media screen and (min-width: 1200px) {
    div.grid {
        grid-template-columns: repeat(4, 1fr);
        
    }
}










/*codigo para tareas añadidas javascript*/

.task {
    text-align: center;
    margin: 10px;
    border: 1px solid #6667ab;
    padding: 1rem;
}

.task p {
    margin: 5px 0;
}

.taskbutton {
    background-color: #f44336; /* Color rojo */
   
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}



._description{
    font-style:normal;
    font-size: 1.5rem; 
}

.finaldate{
    color: rgba(128, 128, 128, 0.7);  
}

}
